* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: "PT Sans", sans-serif;
}
.header {
	background-color: #000;
}
.header > .header_content {
	width: 60%;
	height: 90px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_content > .logo {
	width: 100px;
	height: 25px;
}
.header_content > .logo > img {
	width: 100%;
}
.header_content > .nav,
.footer_copyright > .nav {
	width: 370px;
}
.header_content > .nav > ul,
.footer_copyright > .nav > ul {
	display: flex;
	justify-content: space-between;
	color: #fff;
}
.header_content > .nav > ul > li,
.footer_copyright > .nav > ul > li {
	font-size: 14px;
	font-weight: 400;
	list-style: none;
}
.main__container {
	width: 60%;
	margin: auto;
}
.section_cards {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}
.big_card > .card-1 {
	background-image: url(section-img/big-card-1.png);
	background-size: cover;
	width: 375px;
	height: 560px;
	border-radius: 5px;
	box-shadow: inset 0 -80px 80px #151515;
}
.big_card > .card-1 > button,
.mini_cards > .card-2 > button,
.mini_cards > .card-3 > button,
.mini_cards > .card-4 > button,
.mini_cards > .card-5 > button {
	width: 65px;
	height: 25px;
	border-radius: 5px;
	background-color: #4A90E2;
	color: #fff;
	font-size: 12px;
	border: none;
	margin: 30px 0 0 20px;
}
.big_card > .card-1 > .text_block {
	width: 350px;
	color: #fff;
	margin: 380px 0 0 20px;
}
.text_block {
	width: 260px;
	color: #fff;
	margin: 100px 0 0 20px;
}
.big_card > .card-1 > .text_block > p, 
.mini_cards > .card-2 > .text_block > p,
.mini_cards > .card-3 > .text_block > p,
.mini_cards > .card-4 > .text_block > p,
.mini_cards > .card-5 > .text_block > p {
	font-size: 14px;
	font-weight: 400;
}
.big_card > .card-1 > .text_block > span {
	font-size: 26px;
	font-weight: 700;
}
.text_block > span {
	font-size: 21px;
	font-weight: 700;
}
.section_cards > .mini_cards {
	width: 750px;
	height: 560px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.mini_cards > .card-2, .card-3, .card-4, .card-5 {
	width: 370px;
	height: 270px;
	border-radius: 5px;
	box-shadow: inset 0 -80px 80px #151515;
} 
.mini_cards > .card-2 {
	background-image: url(section-img/card-2.png);
	background-size: cover;
	margin-bottom: 20px;
}
.mini_cards > .card-3 {
	background-image: url(section-img/card-3.png);
	background-size: cover;
	margin-bottom: 20px;
}
.mini_cards > .card-4 {
	background-image: url(section-img/card-4.png);
	background-size: cover;
}
.mini_cards > .card-5 {
	background-image: url(section-img/card-5.png);
	background-size: cover;
}
.section_cars {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}
.section_cars > .block_cars_info {
	width: 770px;
}
.section_cars > .block_info {
	width: 270px;
}
.block_cars_info > .block_card {
	width: 770px;
}
.block_cars_info > .block_card > .car_img {
	width: 770px;
	height: 440px;
}
.block_cars_info > .block_card > .car-2_img,
.block_cars_info > .block_card > .car-3_img,
.block_cars_info > .block_card > .car-4_img, 
.block_cars_info > .block_card > .car-5_img {
	width: 770px;
	height: 440px;
	margin-top: 150px;
}
.block_cars_info > .block_card > .car_img {
	background-image: url(section-img/car-mers.png);
	background-size: cover;
	border-radius: 7px;
	padding-top: 40%;
}
.vehicle_info {
	width: 730px;
	height: 250px;
	background-color: #fff;
	margin: auto;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 4px #d2d2d2;
}
.vehicle_info > button {
	width: 65px;
	height: 25px;
	border-radius: 5px;
	background-color: #4A90E2;
	color: #fff;
	font-size: 12px;
	border: none;
	margin: 30px 0 0 20px;
}
.vehicle_info > h2 {
	font-size: 25px;
	font-weight: 700;
	padding: 10px 0 0 20px;
}
.vehicle_info > p {
	width: 600px;
	font-size: 14px;
	font-weight: 400;
	color: #666666;
	padding: 0 0 0 20px;
}
.block_cars_info > .block_card > .car-2_img {
	background-image: url(section-img/car-bmw.png);
	background-size: cover;
	border-radius: 7px;
	padding-top: 40%;
}
.block_cars_info > .block_card > .car-3_img {
	background-image: url(section-img/super-car.png);
	background-size: cover;
	border-radius: 7px;
	padding-top: 40%;
}
.block_cars_info > .block_card > .car-4_img {
	background-image: url(section-img/car-chevrolet.png);
	background-size: cover;
	border-radius: 7px;
	padding-top: 40%;
}
.block_cars_info > .block_card > .car-5_img {
	background-image: url(section-img/car-jeep.png);
	background-size: cover;
	border-radius: 7px;
	padding-top: 40%;
}
.leon_hunt > .leon_img {
	width: 270px;
	height: 200px;
}
.leon_hunt > .leon_img > img {
	width: 100%;
	border-radius: 5px;
}
.leon_hunt > h3,
.popular > h3,
.instagram_content > h3,
.block_info > .tags > h3,
.block_info > .email > h3 {
	font-size: 18px;
	font-weight: 700;
}
.leon_hunt > span {
	font-size: 14px;
	font-weight: 400;
	color: #999999;
}
.leon_hunt > p {
	font-size: 15px;
	font-weight: 400;
	color: #666666;
}
.leon_hunt > .continue {
	width: 270px;
	height: 50px;
	border-radius: 5px;
	background-color: #232323;
}
.leon_hunt > .continue > p {
	color: #fff;
	text-align: center;
	padding-top: 14px;
}
.popular {
	margin-top: 60px;
}
.block-1_img {
	width: 270px;
	height: 195px;
}
.block-1_img {
	background-image: url(section-img/salon-mers.png);
	background-size: cover;
}
.block-1_img > button,
.block-2_img > button,
.block-3_img > button{
	width: 65px;
	height: 25px;
	border-radius: 5px;
	background-color: #4A90E2;
	color: #fff;
	font-size: 12px;
	border: none;
	margin: 20px 0 0 20px;
}
.popular > p {
	font-size: 20px;
	font-weight: 700;
}
.popular > span {
	font-size: 14px;
	font-weight: 400;
	color: #666666;
}
.block-2_img,
.block-3_img {
	width: 270px;
	height: 195px;
	margin-top: 50px;
}
.block-2_img {
	background-image: url(section-img/jeep.png);
	background-size: cover;
}
.block-3_img {
	background-image: url(section-img/car.png);
	background-size: cover;
}
.instagram_content {
	margin-top: 50px;
}
.content_img {
	width: 270px;
	height: 410px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.content_img > img {
	width: 130px;
	height: 130px;
	border-radius: 5px;
}
.instagram_content > .view_instagram {
	width: 270px;
	height: 50px;
	background-color: #232323;
	display: flex;
	align-items: center;
	border-radius: 5px;
}
.view_instagram > .icon_inst {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-left: 70px;
}
.view_instagram > .icon_inst > img {
	width: 100%;
}
.instagram_content > .view_instagram > p {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	padding-left: 10px;
}
.tags_container {
	margin-top: 50px;
}
.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	justify-content: flex-start;
}
.tags > .tag {
	height: 30px;
	padding: 0 16px;
	background-color: #EBEBEB;
	border-radius: 5px;
	display: grid;
	place-items: center;
	font-size: 14px;
}
.email {
	margin-top: 50px;
}
.block_info > .email > p {
	font-size: 14px;
	font-weight: 400;
	color: #666666;
}
.email > .name,
.email > .your_email {
	width: 270px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #E5E5E5;
	margin-top: 15px;
}
.email > .name > p,
.email > .your_email > p {
	padding: 0 0 0 5px;
	font-size: 14px;
	font-weight: 400;
	color: #AEB3BB;
}
.email > .subscribe {
	width: 270px;
	height: 50px;
	border-radius: 5px;
	background-color: #232323;
}
.email > .subscribe > p {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	padding-top: 15px;
	color: #fff;
}
.pages {
	width: 340px;
	height: 40px;
	margin-top: 15%;
}
.pages > img {
	width: 100%;
}
.most_popular {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.main_container > h2 {
	margin-top: 60px;
}
.most_popular > .most_card {
	width: 270px;
	height: 300px;
}
.most_card > .most_card_img-1,
.most_card > .most_card_img-2,
.most_card > .most_card_img-3,
.most_card > .most_card_img-4 {
	width: 270px;
	height: 195px;
}
.most_card > .most_card_img-1 {
	background-image: url(section-img/most_popular-1.png);
	background-size: cover;
	border-radius: 5px;
}
.most_card > .most_card_img-2 {
	background-image: url(section-img/most_popular-2.png);
	background-size: cover;
	border-radius: 5px;
}
.most_card > .most_card_img-3 {
	background-image: url(section-img/most_popular-3.png);
	background-size: cover;
	border-radius: 5px;
}
.most_card > .most_card_img-4 {
	background-image: url(section-img/most_popular-4.png);
	background-size: cover;
	border-radius: 5px;
}
.most_card > .most_card_img-1 > button,
.most_card > .most_card_img-2 > button,
.most_card > .most_card_img-3 > button,
.most_card > .most_card_img-4 > button {
	width: 60px;
	height: 20px;
	text-align: center;
	color: #fff;
	margin: 20px 0 0 20px;
	background-color: #4A90E2;
	border: none;
	border-radius: 3px;
	font-size: 12px;
	font-weight: 400;
}
.most_card > p {
	font-size: 20px;
	font-weight: 700;
}
.most_card > span {
	font-size: 14px;
	font-weight: 400;
	color: #666666;
}
.footer {
	height: 506px;
	background-color: #171717;
	margin-top: 70px;
}
.footer > .footer_top {
	width: 60%;
	margin: auto;
	padding-top: 60px;
	display: flex;
}
.footer_top > .footer_adout {
	width: 270px;
	margin: 25px 10% 0 0;
}
.footer_adout > p {
	font-size: 14px;
	font-weight: 400;
	color: #CECECE;
	margin: 20px 0 50px 0;
}
.footer_top > .footer_adout > h2,
.footer_top > .footer_posts > h2,
.newsletter > h2 {
	color: #fff;
}
.footer_adout > .footer_icons {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.footer_adout > .footer_icons > .icon {
	width: 34px;
	height: 34px;
	background-color: #373737;
	border-radius: 5px;
}
.footer_icons > .icon > img {
	padding: 10px 0 0 8px;
}
.footer_posts {
	margin-right: 10%;
}
.footer_posts > .post {
	width: 295px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.post > .post_img {
	width: 95px;
	height: 95px;
}
.post > .post_img > img {
	width: 100%;
	border-radius: 5px;
}
.post > .post_text {
	width: 180px;
	height: 95px;
}
.post > .post_text > p {
	font-size: 15px;
	font-weight: 700;
	color: #fff;
}
.post > .post_text > span {
	font-size: 14px;
	font-weight: 400;
	color: #CECECE;
}
.newsletter {
	width: 270px;
}
.newsletter > .contact {
	width: 270px;
	height: 50px;
	background-color: #373737;
	margin-bottom: 20px;
	border-radius: 5px;
}
.newsletter > .contact > p {
	font-size: 14px;
	font-weight: 400;
	padding: 15px 0 0 5px;
	color: #AEB3BB;
}
.newsletter > .subscribe {
	width: 270px;
	height: 50px;
	background-color: #232323;
	border-radius: 5px;
}
.newsletter > .subscribe > p {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	padding-top: 15px;
}
.footer_bottom {
	background-color: #000;
	height: 95px;
}
.footer_copyright {
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;
}
.footer_copyright > .copyright > span {
	font-size: 14px;
	font-weight: 400px;
	color: #fff;
} 